{% extends "parent/base.html" %}
{% load jformat %}
{% block title %}detail post{% endblock title %}

{% block content %}
{% comment %} <h1>hello worls</h1> {% endcomment %}
<hr>
<h1>{{post}}</h1>
<p>{{post.publish|jformat:"%Y/%m/%d - (%H:%M)"}}</p>

<div>
    {% for img in post.images.all %}
        <img with="300px" height="200px" src="{{img.Image_file.url}}" alt="{{img.title}}">    
    
    {% endfor %}
</div>

<hr>
<form method="POST" action="{% url "blog:post_comments" post.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value = "ارسال کامنت" >
</form>

<hr><hr><br>
<div>
{% with commetn.count as cm %}
{% comment %} pluralize  for s jame gozashteh mishe {% endcomment %}
    {{ cm }} commetn{{ cm|pluralize }}
{% endwith %}
</div>

{% for i in commetn %}
    <h1> {{i.name}} </h1>
    <br>
    <p> {{i.body|linebreaks}} </p>
{% empty %}
    <h3>کامنتی وجود ندارد</h3>
{% endfor %}


{% endblock content %}